[Unit]
Description=Gunicorn instance to serve Airbnb content
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/
ExecStart=/usr/local/bin/gunicorn -w 3 -b 0.0.0.0:5003 -e /tmp/airbnb-error.log -a /tmp/airbnb-access.log web_dynamic/2-hbnb:app
Restart=always

[Install]
WantedBy=multi-user.target
